.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 70px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: transparent;
}

.logo {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-text-dark);
}

.logo span {
  font-weight: 700;
  color: var(--color-accent);
}

.links {
  display: flex;
  gap: 28px;
}

.links a {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text-dark);
  transition: color var(--transition);
}

.links a:hover {
  color: var(--color-accent);
  font-weight: 600;
}

.links a.active {
  color: var(--color-accent);
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  width: 32px;
  height: 32px;
  color: var(--color-accent);
}

.icon:hover {
  color: var(--color-accent-hover);
}
