.footer {
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  padding: 50px 70px 20px;
}

.top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 80px;
}

.logo {
  font-family: var(--font-display);
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.logo span {
  font-weight: 700;
  color: var(--color-accent);
}

.brand p {
  font-size: 16px;
  font-weight: 400;

  font-style: italic;
}
.linksContainer {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}
.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.links a {
  font-size: 14px;
  color: var(--color-text-light);
  transition: color var(--transition);
}

.links a:hover {
  color: var(--color-accent);
}

.socials {
  display: flex;
  align-items: center;
  gap: 40px;
}

.icon {
  width: 44px;
  height: 44px;
  color: var(--color-text-light);
}

.icon:hover {
  color: var(--color-accent-hover);
}

.bottom {
  text-align: center;
  font-size: 14px;
}
